@import "~/.cache/wal/colors-rofi-dark"

* {
  selected-normal-foreground: @background;
}

configuration {
  font: "Terminess Nerd Font 13";
}

listview {
  scrollbar: false;
}

#inputbar {
  children: [entry];
  padding: 1px;
}

#window {
  padding: 6px;
  border: 1px;
  border-color: @foreground;
}

#element {
  padding: 1px;
}
